<link rel="stylesheet" href="/stylesheets/main-layout.css">

<header>
    <div class="header-menu">
        <!-- <img src="https://agnewlotto.com/img/logo2.png"> -->
        <img src="/images/logo.png">
        <ul>
            <li> ชนิดหวย =></li>
            <li style="background-color: #555;"><a href="#">หวยลาวเวียงจันทร์</a></li>
            <li style="background-color: #2e8965;"><a href="#">งวดวันที่ 30-12-2020</a></li>
            <li style="background-color: #62a8d1;"><a href="#">B2BP49J88TESTAGENT1 [เอเย่นต์1]</a></li>
            <li>วันที่ 30 ธันวาคม 2563 เวลา 15:16:38</li>
        </ul>
    </div>
</header>